# ---- Database (PostgreSQL) ----
DB_USER=postgres
DB_PASS=corenest
DB_NAME=postgres
DB_PORT=5433

# ---- pgAdmin ----
PGADMIN_EMAIL=admin@nesthub.local
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# ---- API (NestJS) ----
API_PORT=8000

# ---- Web (Next.js) ----
WEB_PORT=3000
